<div class="wrapper">
  <div class="left">
      <div class="image">
          <img src="https://images.unsplash.com/photo-1579503841516-e0bd7fca5faa?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjMyMjU1MTY&ixlib=rb-1.2.1&q=80" alt="face" />
      </div>

      <div class="bottom">
          <div class="item nameroll">
              <div class="name">Grapdroad</div>
              <div class="roll">Web Designer</div>
          </div>

          <div class="item profile">
              <div class="title">Profile</div>
              <div class="info">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quibusdam repellendus voluptates illo magni sed delectus quam?
                  Atque quibusdam, laudantium quo ullam eum a pariatur enim nemo
                  officiis quasi libero, tempora unde adipisci, consequuntur aut
                  quis inventore nostrum nisi vero mollitia! Vitae sit aut numquam
                  nemo est pariatur commodi, repudiandae rerum?
              </div>
          </div>

          <div class="item address">
              <div class="title">Address</div>
              <div class="info">
                  Delhi, <br />
                  India
              </div>
          </div>

          <div class="item contact">
              <div class="title">Contact Info</div>
              <div class="info">
                  <div class="subtitle">Phone</div>
                  <div class="subinfo">+91 00 000 0000</div>
              </div>

              <div class="info">
                  <div class="subtitle">Email</div>
                  <div class="subinfo">mycv@gmail.com</div>
              </div>

              <div class="info">
                  <div class="subtitle">Website</div>
                  <div class="subinfo">www.site.com</div>
              </div>
          </div>

          <div class="item skills">
              <div class="title">Skills</div>
              <div class="info">
                  <div class="skills_list">
                      <div class="skills_left">HTML</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 90%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">Ajax</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 3%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">Css</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 80%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">Php</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 73%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">JavaScript</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 50%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">Photoshop</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 30%"></span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="right">
      <div class="item education">
          <div class="title">Education</div>
          <div class="info">
              <div class="data">
                  <div class="year">2000 - 2010</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2010 - 2015</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2015 - 2020</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2020 - 2022</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="item experience">
          <div class="title">Experience</div>
          <div class="info">
              <div class="data">
                  <div class="year">2000 - 2010</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2010 - 2015</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2015 - 2020</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2020 - 2022</div>
                  <div class="content">
                      <p>Title</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="item language">
          <div class="title">Language</div>

          <div class="language">English</div>
          <div class="lan_bar">
              <p>
                  <span style="width: 90%"></span>
              </p>
          </div>

          <div class="language">Bengali</div>
          <div class="lan_bar">
              <p>
                  <span style="width: 80%"></span>
              </p>
          </div>

          <div class="language">Hindi</div>
          <div class="lan_bar">
              <p>
                  <span style="width: 40%"></span>
              </p>
          </div>

          <div class="language">Spanish</div>
          <div class="lan_bar">
              <p>
                  <span style="width: 5%"></span>
              </p>
          </div>
      </div>
  

  <div class="item interests">
      <div class="title">Interests</div>
      <div class="info">
          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-gamepad"></i>
              </div>
              <div class="int_data">Gaming</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-book-open"></i>
              </div>
              <div class="int_data">Reading</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-film"></i>
              </div>
              <div class="int_data">Movies</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-guitar"></i>
              </div>
              <div class="int_data">Guitar</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fas fa-biking"></i>
              </div>
              <div class="int_data">Riding</div>
          </div>
      </div>
  </div>
</div>
</div>