<div class="wrapper">
  <div class="left">
      <div class="image">
          <img src="src/assets/avtar.jpg" alt="face" style="" />
      </div>

      <div class="bottom">
          <div class="item nameroll">
              <div class="name">Bhupendra</div>
              <div class="roll">Angular Developer</div>
          </div>

          <div class="item profile">
              <div class="title">Profile</div>
              <div class="info">
                Highly skilled and motivated Angular developer with 1 years
                of experience in designing and developing robust web
                applications. Proficient in Angular 16, with a strong
                understanding of TypeScript, RxJS, and Angular CLI. Proven
                track record of delivering scalable and responsive user
                interfaces, optimizing application performance, and
                implementing complex features. Experienced in collaborating
                with cross-functional teams to achieve project objectives and
                meet tight deadlines. Passionate about staying up-to-date
                with the latest industry trends and technologies. Committed
                to delivering high-quality code and providing optimal user
                experiences. Seeking opportunities to utilize my skills and
                contribute to innovative Angular projects.
              </div>
          </div>

          <div class="item address">
              <div class="title">Address</div>
              <div class="info">
                  jaipur, <br />
                  India
              </div>
          </div>

          <div class="item contact">
              <div class="title">Contact Info</div>
              <div class="info">
                  <div class="subtitle">Phone</div>
                  <div class="subinfo">+91 7357471289</div>
              </div>

              <div class="info">
                  <div class="subtitle">Email</div>
                  <div class="subinfo">Bhupendranirwan737@gmail.com</div>
              </div>

              <div class="info">
                  <div class="subtitle">github</div>
                  <div class="subinfo">bhupendra1</div>
              </div>
          </div>

          <div class="item skills">
              <div class="title">Skills</div>
              <div class="info">
                  <div class="skills_list">
                      <div class="skills_left">Angular</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 90%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">TypeScript</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 3%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">Css</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 80%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">Html</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 73%"></span>
                          </p>
                      </div>
                  </div>

                  <div class="skills_list">
                      <div class="skills_left">Javascript</div>
                      <div class="skills_bar">
                          <p>
                              <span style="width: 50%"></span>
                          </p>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="right">
      <div class="item education">
          <div class="title">Education</div>
          <div class="info">
              <div class="data">
                  <div class="year">2010 - 2011</div>
                  <div class="content">
                      <p>10th</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2012 - 2013</div>
                  <div class="content">
                      <p>12th</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2013 - 2026</div>
                  <div class="content">
                      <p>graduation</p>
                      <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                          distinctio voluptates est odit eligendi velit dicta
                          reprehenderit! Officia beatae similique architecto ut cumque
                          magnam sequi hic sint vel corrupti! Vel!
                      </p>
                  </div>
              </div>

          </div>
      </div>

      <div class="item experience">
          <div class="title">Experience</div>
          <div class="info">
              <div class="data">
                  <div class="year">2022 - present</div>
                  <div class="content">
                      <p>SISL Infotech Pvt. Ltd</p>
                      <p>
                        Developed and implemented a responsive user
                        interface for a complex web application, resulting in
                        a significant improvement in user experience and
                        increased user engagement.
                        Collaborated with UX/UI designers to translate
                        design mockups into fully functional Angular
                        components, delivering pixel-perfect UIs and
                        ensuring a seamless user experience.
                        Integrated third-party APIs and services into an
                        Angular application, enabling new functionality and
                        expanding the application's capabilities.
                        Designed and implemented a reusable component
                        library in Angular, significantly reducing
                        development time and effort for subsequent
                        projects, while maintaining consistency across the
                        application.
                      </p>
                  </div>
              </div>

              <div class="data">
                  <div class="year">2019 - 2022</div>
                  <div class="content">
                    <p>Speed infinite IT Solutions</p>
                    <p>
                      Design graphic user interface elements, like menus, tabs and widgets Build page navigation buttons and
                      search fields
                      Build page navigation buttons and search fields
                      Use markup languages like HTML to create user- friendly web pages. Maintain and improve website.
                    </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="item language">
          <div class="title">Language</div>

          <div class="language">English</div>
          <div class="lan_bar">
              <p>
                  <span style="width: 90%"></span>
              </p>
          </div>

          <div class="language">Hindi</div>
          <div class="lan_bar">
              <p>
                  <span style="width: 40%"></span>
              </p>
          </div>

      </div>
  

  <div class="item interests">
      <div class="title">Interests</div>
      <div class="info">
          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-gamepad"></i>
              </div>
              <div class="int_data">Gaming</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-book-open"></i>
              </div>
              <div class="int_data">Reading</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-film"></i>
              </div>
              <div class="int_data">Movies</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fa-solid fa-guitar"></i>
              </div>
              <div class="int_data">Guitar</div>
          </div>

          <div class="interests">
              <div class="int_icon">
                  <i class="fas fa-biking"></i>
              </div>
              <div class="int_data">Riding</div>
          </div>
      </div>
  </div>
</div>
</div>