<div class="checkbox-container">
	<h2 class="heading">To-do list</h2>
	<div class="checkbox-group">
		<input type="checkbox" id="checkbox1">
		<label for="checkbox1">Listen to music</label>
	</div>
	<div class="checkbox-group">
		<input type="checkbox" id="checkbox2">
		<label for="checkbox2">Learn JavaScript</label>
	</div>
	<div class="checkbox-group">
		<input type="checkbox" id="checkbox3">
		<label for="checkbox3" class="checkbox-label">Watch a movie</label>
	</div>
	<div class="checkbox-group">
		<input type="checkbox" id="checkbox4">
		<label for="checkbox4">Read emails</label>
	</div>
</div>